PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=myappdb

JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=7d
CHANGED=test

AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=iloveyou-media-dev
AWS_ACCESS_KEY_ID=keyiwillsend
AWS_SECRET_ACCESS_KEY=secretkeyiwillsend
